body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.938);
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p
{
    animation: fadeInUp 0.7s ease-out;
    color: #4AB9E2;
    text-align:match-parent;
    margin-left: 10%;
    margin-right: 10%;
    
    
}
  h1  
  {
    animation: fadeInUp 0.7s ease-out;
    color: #e2734a;
    text-align: center;
    text-shadow: cm;
    text-shadow: 2px 2px 4px #8d462c;
    margin-left: 10%;
    margin-right: 10%;
  }
  .fade-in {
    animation: fadeInUp 1s ease-in-out;
  }
