.CenterContainer {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh; 
    
}

.image {


    width: 50px;

}


.HotbarContainer {
    display: flex;
    justify-content: center; 
    align-items: center;    
                  
}