@import url('https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap');

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.h1 {
  position: absolute;
  inset: 0;
  margin: auto;
  font-family: 'Font2', serif;
  text-align: center;
  animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.p1 {
  font-family: 'Font1', sans-serif;
  text-align: center;
  margin-top: 450px;
  animation: scale-in-ver-center 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.page-background {
  background: linear-gradient(to right, #121222, black);
  min-width: 900px;
  min-height: 900px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: scale-in-ver-center 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  overflow-x: scroll;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  animation: scroll-background 30s linear infinite;
}
.github-button {
  background: linear-gradient(to right, black, #121222);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: scale-in-ver-center 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.github-button a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.game-frame {
  width: 80%;
  height: 100%;
  border: none;
}

.game-text {
  margin-top: 20px;
  text-align: center;
  font-family: 'Font1', sans-serif;
  color: white;
}

.button-container {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.restart-contanter {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateY(-50%);
}

.button-container51 {
  color: #121222;
}

.h1-no-animation {
  position: absolute;
  inset: 0;
  margin: auto;
  font-family: 'Font2', serif;
  text-align: center;
}

.p1-no-animation {
  font-family: 'Font1', sans-serif;
  text-align: center;
  margin-top: 450px;
}

.sigma {
  background: linear-gradient(to right, black, #121222);
  padding: 5px 10px;
  color: rgba(41, 41, 41, 0.5);
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  animation: scale-in-ver-center 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(0.75);
}

.task-manager-task {
  background: linear-gradient(to right, rgb(62, 62, 62), #28284b);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog-image {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
  object-fit: contain; 
  max-height: 70vh; 
}

.centerAligned {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 16px; 
  
}